@import "tailwindcss";


body {
    background-color: #D3D3D3;
    margin: 0; /* Remove default margin */
    min-height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center; /* Center card horizontally */
    align-items: center; /* Center card vertically */
}

.task-card {
    width: 30vw;
    height: 65vh;
    display: flex;
    border-radius: 5%; 
}

.task-input {
    width: 15vw;
    border-radius: 20px 0px 0px 20px;
}

.task-input-btn {
    border-radius: 0px 20px 20px 0px;
    padding-right: 1em;
}
